.newcomer-tools {
    margin-top: 200px;
    padding-top: 20px;
    width: 1224px;
    height: 638px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newcomer-tools-description {
    width: 427px;
}

.newcomer-tools-description h2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 30px;
}

.newcomer-tools-description p {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
}

.newcomer-tools-description button {
    color: #FFFFFF;
    background-color: var(--color-primary);
    width: 198px;
    height: 58px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.newcomer-tools-description button:hover {
    background-color: var(--color-second);
}

.newcomer-border .visit {
    width: 106px;
    height: 42px;
    margin-left: 43px;
}

.newcomer-border:hover .visit {
    background-color: var(--color-primary);
    color: #FFFFFF;
    width: 106px;
    height: 42px;
}

.newcomer-border .visit:hover {
    width: 106px;
    height: 42px;
    background-color: var(--color-second);
}

.newcomer-cards {
    width: 600px;
    height: 638px;
    display: grid;
    grid-template-rows: 284px 284px;
    grid-template-columns: 288px 288px;
    grid-gap: 50px 24px;
    margin-left: 197px;
}

.newcomer-border:hover {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to bottom right,
    rgba(255, 255, 255, 0.1) -5%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.07) 65%, rgba(255, 255, 255, 0) 98%);
    width: 292px;
    height: 288px;
    margin-top: -20px;
    transition: all .15s;
}

.newcomer-border:hover .newcomer-back {
    border-radius: 15px;
    margin: 2px;
    display: flex;
    align-items: center;
    background-color: #1E252B;
    backdrop-filter: blur(25px);
    width: 288px;
    height: 284px;
}

.newcomer-border:hover .newcomer-circle {
    background-image: url("../img/ellipse-mini-card.svg");
    background-position: 183px -69px;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 292px;
    height: 288px;
    display: flex;
    align-items: center;
    margin-left: -2px;
}

.newcomer-border:hover .newcomer-card {
    background-color: rgba(40, 48, 54, 0.6);
    margin: 2px;
    border-radius: 15px;
    width: 290px;
    height: 284px;
    padding: 28px 21px 28px 22px;
}

.newcomer-border:hover .newcomer-card-header {
    opacity: 1;
}

.newcomer-card {
    margin: 28px 21px 28px 22px;
}

.newcomer-card-header {
    color: rgba(255, 255, 255, 0.78);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    opacity: 0.78;
}

.newcomer-card-header .text {
    margin-left: 30px;
}

.newcomer-card-header h3 {
    color: rgba(255, 255, 255, 0.78);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 3px;
}

.newcomer-border:hover h3 {
    color: rgba(255, 255, 255, 0.9);
}

.newcomer-card-header h4 {
    color: rgba(255, 165, 55, 0.55);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.newcomer-border:hover h4 {
    color: #FFA537;;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.newcomer-card p {
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.newcomer-border:hover p {
    color: rgba(255, 255, 255, 0.78);
}

.newcomer-card-buttons {
    display: flex;
    align-items: center;
}

.newcomer-card-buttons button {
    color: rgba(255, 255, 255, 0.55);
    margin-right: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 42px;
    height: 42px;
    border-radius: 8px;
}

.newcomer-card-buttons .newcomer-visit {
    color: rgba(255, 255, 255, 0.55);
    margin-right: 0;
    width: 106px;
    height: 42px;
    border-radius: 8px;
    margin-left: auto;
    font-weight: 600;
    font-size: 16px;
}

.newcomer-border:hover .newcomer-visit {
    color: #FFFFFF;
    background-color: var(--color-primary);
}